body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
    color: #111;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

section:nth-child(odd) {
    background: #f5f5f5;
}

section:nth-child(even) {
    background: #e5e5e5;
}
